.wp-block-wpmovies-movie-search {
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.07);
	border-radius: 3px;
}

.wp-block-wpmovies-movie-search input {
	background: transparent;
	color: var(--wp--preset--color--white);
	border: none;
	width: calc(min(500px, 50vw));
	height: 43px;
	position: relative;
	padding: 12px;
}

.wp-block-wpmovies-movie-search input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.wp-block-wpmovies-movie-search input:focus-visible {
	color: var(--wp--preset--color--white);
	background-color: #181818;
	border: 1px solid rgba(255, 255, 255, 0.07);
	border-radius: 3px;
	border: none;
	padding: 12px;
	outline: none;
}

.wp-block-wpmovies-movie-search > form {
	position: relative;
}

/* Hide the label offscreen but it should still be present for a11y */
.wp-block-wpmovies-movie-search .search-label {
	position: absolute;
	text-indent: -9999px;
}