.wp-block-group.movie-image-container {
	position: relative;
}

.wp-block-group.movie-image-container .wp-block-wpmovies-movie-like-icon {
	position: absolute;
	top: 0px;
	left: 15px;
	margin-top: 0.5rem;
}

.wpmovies-page-button-parent {
	cursor: pointer;
	display: flex;
	align-items: center;
	margin: auto;
	width: 240px;
	height: 48px;
	border-radius: 3px;
	color: var(--wp--preset--color--black);
	background: var(--wp--preset--color--white);
	font-size: var(--wp--preset--font-size--medium);
	line-height: 24px;
	font-weight: 600;
}

.wpmovies-page-button-child {
	margin: auto;
	display: flex;
	align-items: center;
}

.wpmovies-page-button-child svg {
	margin-right: 14px;
}
