.wp-block-group.movie-image-container {
  position: relative;
}

.wp-block-group.movie-image-container .wp-block-wpmovies-post-favorite {
  position: absolute;
  top: 0px;
  left: 15px;
  margin-top: 0.5rem;
}