.wpmovies-movie-background-wrapper {
	background-position: left calc((50vw - 170px) - 340px) top;
	background-size: cover;
	background-repeat: no-repeat;
}

.wpmovies-movie-background-inner-wrapper {
	padding: 40px;
	background-image: linear-gradient(
		to right,
		#404040 calc((50vw - 170px) - 340px),
		#404040d9 30%,
		#404040d9 100%
	);
}
