<!-- wp:template-part {"slug":"header","theme":"wp-movies-theme","tagName":"header"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","right":"0","bottom":"var:preset|spacing|60","left":"0"},"blockGap":"0","margin":{"top":"78px","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="margin-top:78px;margin-bottom:0;padding-top:var(--wp--preset--spacing--60);padding-right:0;padding-bottom:var(--wp--preset--spacing--60);padding-left:0"><!-- wp:group {"style":{"spacing":{"margin":{"top":"64px","bottom":"64px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:64px;margin-bottom:64px"><!-- wp:heading {"textAlign":"center","level":1,"align":"wide"} -->
<h1 class="wp-block-heading alignwide has-text-align-center">Interactivity API preview</h1>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"constrained","wideSize":"400px"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Create engaging and interactive experiences in WordPress using the experimental Interactivity API</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":3,"query":{"perPage":"8","pages":0,"offset":0,"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"postType":"movies"},"tagName":"main","displayLayout":{"type":"flex","columns":4},"namespace":"wpmovies/movies-query-loop","align":"wide","layout":{"type":"constrained","contentSize":"1200px"}} -->
<main class="wp-block-query alignwide"><!-- wp:post-template -->
<!-- wp:group {"className":"movie-image-container","layout":{"type":"constrained"}} -->
<div class="wp-block-group movie-image-container"><!-- wp:post-featured-image {"isLink":true,"dimRatio":40,"customGradient":"linear-gradient(148deg,rgb(0,0,0) 14%,rgba(255,255,255,0) 59%)","style":{"color":[],"border":{"radius":"5px"}}} /-->

<!-- wp:wpmovies/movie-like-icon /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></main>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wp-movies-theme","tagName":"footer"} /-->